extends ../layout


append head
    link(type='text/css' rel='stylesheet' href='/stylesheets/main.css' media='all')

append foot
    script(src='/js/materialbox.js', type='text/javascript')


block content
    - var lipsum = "Curabitur non ex feugiat, consequat diam at, fermentum purus. Maecenas tincidunt faucibus mattis. Vivamus non nibh vitae justo dignissim luctus at et leo. Nam tristique porta elit. Donec gravida ex eget quam ultricies, vel commodo nisi venenatis. Morbi eget magna at lorem blandit fringilla eget at metus. Maecenas dapibus rutrum odio vel placerat. Nam tortor ante, mollis quis volutpat ut, tincidunt eu augue. Pellentesque sodales consectetur lorem eget pretium."
    - var temp_date = moment(new Date('1.12.2016'));
    -
        var messages = [
        {title: "Last Message", author:{firstName:'Robert',lastName:'Tester'}, createdate:temp_date, messageContent:lipsum,
        images:["media/usr_001/ticket_0123_img_1.jpg","media/usr_001/ticket_0123_img_2.jpg","media/usr_001/ticket_0123_img_3.jpg"]},
        {title: "Message 5", author:{firstName:'Robert',lastName:'Tester'}, createdate:temp_date.subtract(1,'day'), messageContent:lipsum,
        images:["media/usr_001/ticket_0123_img_1.jpg","media/usr_001/ticket_0123_img_2.jpg","media/usr_001/ticket_0123_img_3.jpg"]},
        {title: "Message 4", author:{firstName:'Robert',lastName:'Tester'}, createdate:temp_date.subtract(1,'day'), messageContent:lipsum,
        images:["media/usr_001/ticket_0123_img_1.jpg","media/usr_001/ticket_0123_img_2.jpg","media/usr_001/ticket_0123_img_3.jpg"]},
        {title: "Message 3", author:{firstName:'Robert',lastName:'Tester'}, createdate:temp_date.subtract(1,'day'), messageContent:lipsum,
        images:["media/usr_001/ticket_0123_img_1.jpg","media/usr_001/ticket_0123_img_2.jpg","media/usr_001/ticket_0123_img_3.jpg"]},
        {title: "Message 2", author:{firstName:'Robert',lastName:'Tester'}, createdate:temp_date.subtract(1,'day'), messageContent:lipsum,
        images:["media/usr_001/ticket_0123_img_1.jpg","media/usr_001/ticket_0123_img_2.jpg","media/usr_001/ticket_0123_img_3.jpg"]},
        {title: "Message 1", author:{firstName:'Robert',lastName:'Tester'}, createdate:temp_date.subtract(1,'day'), messageContent:lipsum,
        images:["media/usr_001/ticket_0123_img_1.jpg","media/usr_001/ticket_0123_img_2.jpg","media/usr_001/ticket_0123_img_3.jpg"]}]
    main
        .container-fluid.row
            ul.collapsible.show-first.popout(data-collapsible='accordion')
                each item in messages
                    li.detail-card
                        .collapsible-header
                            i.material-icons message
                            = item.title
                        .collapsible-body: .card-content: .container2
                            .row
                                .col.l1
                                    p.profile-icon(data-letters=item.author.firstName.charAt(0) + item.author.lastName.charAt(0))
                                .col.l7
                                    .row.ticket-author: = "Written by " + item.author.firstName + " " + item.author.lastName
                                    .row.ticket-date
                                        time(datetime=item.createdate.format())="On " + item.createdate.format('Do MMMM YYYY, h:mm')
                                    .row: =item.messageContent
                                    .row
                                        .a#show-reply-form.btn.light-blue(href="#") Reply
                                        | &nbsp;
                                        .a#hide-reply-form.btn.offset-3.light-blue(href="/home") Close
                                .col.l4
                                    .image-grid
                                        each image in item.images
                                            .grid-float
                                                img.ticket-img.materialboxed(src=image alt data-original=image)
                            .row.reply-message.hidden-el
                                .col.s12.left-column
                                    .card
                                        .card-title
                                            p Reply message
                                        .card-content
                                            .input-field
                                                textarea.materialize-textarea(id="reply-textarea" length="1024")
                                                label(for="reply-textarea") Write message...
                                            a.btn.btn-small.waves-effect.waves-light.light-blue(href='#') Send
                                .col.s12.right-column
                                    .card
                                        table.bordered.highlight.card-content.responsive-table
                                            thead
                                                tr
                                                    th
                                                    th.tooltipped(data-field='name' data-position="top" data-delay="50" data-tooltip="Service or Product used or planned") Procedure Name
                                                    th.tooltipped(data-field='time' data-position="top" data-delay="50" data-tooltip="Estimated time for the task completition") Est. Time required
                                                    th.tooltipped(data-field='price' data-position="top" data-delay="50" data-tooltip="Estimated price for the task") Est. Price
                                            tbody
                                                -
                                                    var expenses = [
                                                    {name:"Product 1", est_time:{hours:1, minutes:30}, est_cost:7.99},
                                                    {name:"Service 2", est_time:{hours:3, minutes:40}, est_cost:15.99},
                                                    {name:"Product 3", est_time:{hours:1}, est_cost:5.99}];

                                                each item in expenses
                                                    tr
                                                        td.center: a.delete-table-row(href='#!'): i.material-icons delete
                                                        td
                                                            .input-field.custom-input-field
                                                                label
                                                                    input(value=item.name type=text)
                                                        td= humanizeDuration(moment.duration(item.est_time), {conjunction:' and ', serialComma: false})
                                                        td= numeral(item.est_cost).format('$ 0,0[.]00')
                                                tr.add-new-line-row
                                                    td.center
                                                        button.btn.right.btn-floating.waves-effect.waves-light.grey.add-new-line-button(href='#!')
                                                            i.material-icons.add-new-line-button-inner add
                                                    td
                                                    td
                                                    td
                                                tr
                                                    td.center Total
                                                        -
                                                            var time_sum = expenses.map(function(i){return i.est_time}).reduce(function(a,b){var t=a;if (!a.isDuration){t=moment.duration(a)}; t.add(moment.duration(b));return t});
                                                            var cost_sum = expenses.map(function(i){return i.est_cost}).reduce(function(a,b){return a+b});
                                                    td
                                                    td= humanizeDuration(time_sum, {conjunction:' and ', serialComma: false})
                                                    td= numeral(cost_sum).format('$ 0,0[.]00')











