extends ../index

block content
    main.container
        .row.center
            h2 Add a new Problem!
            p.lead Please select your vehicle!
        .col.s12
            ul.tabs.hide
                li.tab.col.s3: a.teal-text(
                    id="chooseVehicleLevelTab"
                    href="#chooseVehicleLevel"
                    onclick="setAddNewProblemStage(chooseVehicleLevel, 0)"
                ) Choose vehicle
                li.tab.col.s3.disabled: a.teal-text(
                    id="selectProblemLevelTab"
                    href="#selectProblemLevel"
                ) Select Problem
                li.tab.col.s3.disabled: a.teal-text(
                    id="additionalInfoLevelTab"
                    href="#additionalInfoLevel"
                ) Add info
                li.tab.col.s3.disabled: a.teal-text(
                    id="confirmationLevelTab"
                    href="#confirmationLevel"
                ) Review
        .row
            form.col.s12(role='form',action="/client/problem/add",method="post", class="col s12 m6 offset-m3")
                input(type='hidden', name='_csrf', value=token)
                .row#chooseVehicleLevel
                    .input-field.col.s12
                        select#vehicle.validate(name="vehicle_id")
                            option(value="" disabled selected) Choose your option
                            - for (var x = 0; x < vehicles.length; x++)
                                option(value=vehicles[x]._id)
                                    =vehicles[x].name
                        label(for="vehicle") Select your vehicle
                .row#selectProblemLevel
                    .input-field.col.s12
                        ul.collapsible(data-collapsible="expandable")
                            li
                                .collapsible-header(onclick="addNewProblemToggleProblemTemplate(this)" id="problems[x]._id")
                                    |Problem Title 1 <i class="material-icons right">check_box_outline_blank</i>
                                    input.validate(type='hidden', name="problems[]" value="")

                                .collapsible-body
                                    p Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
                            li
                                .collapsible-header(onclick="addNewProblemToggleProblemTemplate(this)")
                                   |Problem Title 1 <i class="material-icons right">check_box_outline_blank</i>
                                   input.validate(type='hidden', name="problems[]" value="")
                                .collapsible-body
                                    p Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
                    a(class="btn-floating btn-large waves-effect waves-light red right" href="#createTemplate")
                        i.material-icons add
                .row#additionalInfoLevel
                     .container
                        .row.center-align.section
                            a.col.s12.space.btn-large.waves-effect.waves-light(href="#addDetailDescription") Add a detail description
                            button.col.s12.space.btn-large.waves-effect.waves-light
                                .file-field
                                    span Add image
                                    input#image(type='file' accept="image/*" capture="camera" name="image" multiple)
                            button.col.s12.space.btn-large.waves-effect.waves-light
                                .file-field
                                    span Add video
                                    input#video(type='file' accept="video/*" name="video" capture="camcorder" multiple)
                            button.col.s12.space.btn-large.waves-effect.waves-light
                                .file-field
                                    span Add recording
                                    input#recording(type='file' accept="audio/*" name="recording" capture="microphone" multiple)
                .row#confirmationLevel
                    .input-field.col.s12
                        input#vin.validate(type='text', name="vin")
                        label(for="vin") VIN number
                .row.space
                    a#addNewProblemCancelButtonInitial.btn.col.space.s12.m4.waves-effect.waves-light(href='/') Cancel
                    button#addNewProblemBackButton.btn.col.space.s12.m4.offset-m4.waves-effect.waves-light.hide(type='button' onclick="setAddNewProblemStage(currentLevel-1, 1)") Back
                    button#addNewProblemNextButton.btn.col.space.s12.m4.offset-m4.waves-effect.waves-light(type='button' onclick="setAddNewProblemStage(currentLevel+1, 1)") Next
                    button#addNewProblemSubmitButton.btn.col.space.s12.m4.offset-m4.waves-effect.waves-light.hide(type='submit') Submit
                    a#addNewProblemCancelButton.btn-flat.col.center.s12.m4.offset-m4.waves-effect.waves-light.hide(href='/') Cancel
            .modal#createTemplate
                    .modal-content
                        form(role='form' action="/client/template/add" method="post" id="createTemplateForm")
                            p.lead
                                |Please provide title and description of your problem
                            input(type='hidden', name='_csrf', value=token)
                            .row
                                .input-field
                                    input#title.validate(type='text', name="title")
                                    label(for="title") Title
                            .row
                                .input-field
                                    textarea#description.validate.materialize-textarea(type='text', name="description")
                                    label(for="description") Description
                    .modal-footer
                            a.modal-action.modal-close.waves-effect.waves-light.btn-flat(href='#') Cancel
                            button.modal-action.modal-close.waves-effect.waves-light.btn-flat(type='submit' form="createTemplateForm") Add
            .modal#addDetailDescription
                    .modal-content
                        .row
                            .input-field
                                textarea#description.validate.materialize-textarea(type='text', name="description")
                                label(for="description") Description
                    .modal-footer
                            button.modal-action.modal-close.waves-effect.waves-light.btn-flat(href='#') Cancel
                            button.modal-action.modal-close.waves-effect.waves-light.btn-flat(href='#') Add
