mixin namedHeader(title)
    header.mn-header.navbar-fixed
        nav.light-blue
            .nav-wrapper.row
                if (!user)
                    .header-title.col.s3.m3
                        span.chapter-title
                        if title == 'Home'
                            = 'eService'
                        else
                            = 'eService - ' + title
                    ul.right.hide-on-med-and-down
                        li: a(href="#") Help
                        li: a(href="/register") Register
                        li: a(href="/login") Login

                    ul#nav-mobile.side-nav
                        li: a(href="#") Help
                        li: a(href="/login") Login
                else
                    section.material-design-hamburger.navigation-toggle
                        if (user.isMechanic)
                            a.show-on-large.material-design-hamburger__icon.reverse-icon( href="javascript:void(0)" data-activates="slide-out" )
                        else
                            a.button-collapse(href="#" data-activates="nav-mobile")
                        i.material-icons menu
                        span.material-design-hamburger__layer.material-design-hamburger__icon--from-arrow

                    .header-title.col.s12.m6
                        span.chapter-title
                            if(user.isMechanic)
                                = 'eService Dashboard - ' + title
                            else
                                = 'eService - ' + title

                    if !user.isMechanic
                        ul.right.hide-on-med-and-down
                            li: a(href="#") Vehicles
                            li: a(href="#") History
                            li: a(href="/logout") Logout

                    form.left.search.col.s6.hide-on-small-and-down
                        .input-field
                            input#search(type="search",placeholder="Search",autocomplete="off")
                            label.active(for="search")
                                i.material-icons.search-icon search
                if (user && !user.profile_img)
                    -var letter = user.username.substr(0,1)
                    .right.col.s9.m6.nav-right-menu
                        img.circle(src='' alt='' data-letters=letter)


mixin clientItem(item)
    li= item.client + " : " + item.ticketTitle


mixin menuitem(title, link, icon)
    li.no-padding
        a.waves-effect.waves-blue(href=link)
            i.material-icons #{icon}
            =title

mixin menuitem_mobile(link,title)
    a.col.s12.space.btn-large.waves-effect.waves-light.orange(href=link) #{title}

mixin footer(arg)
    footer.page-footer.blue
        .container
            .row
                div.col.l6.s12
                    h5.white-text E-Servis Bio
                    p.grey-text.text-lighten-4.
                        We are a team of college students working on this project like it's our full time job. We are Addicted Penguins!
                div.col.l2.s12
                     h5.white-text Menu
                     ul
                        li
                            a.grey-text.text-lighten-4(href="#") Link 1
                        li
                            a.grey-text.text-lighten-4(href="#") Link 1
                        li
                            a.grey-text.text-lighten-4(href="#") Link 1
                        li
                            a.grey-text.text-lighten-4(href="#") Link 1
                div.col.l2.s12
                     h5.white-text Connect
                     ul
                        li
                            a.grey-text.text-lighten-4(href="#") Facebook
                        li
                            a.grey-text.text-lighten-4(href="#") Google +
                        li
                            a.grey-text.text-lighten-4(href="#") Twitter
                        li
                            a.grey-text.text-lighten-4(href="#") Snapchat :D
        .footer-copyright.blue
            .container
                p.grey-text.text-lighten-4.
                    Made by Addicted Pinguins for WdTaM with <3